@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.button {
  @include reset-button();
  @include focus();
  align-items: center;
  background-color: $background-button;
  border: 1px solid transparent;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  min-height: 40px;
  padding: 9px 11px;
  transition: all $transition-time;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    background-color: $color-black-20;
    cursor: default;
    pointer-events: none;
  }
}

.buttonWithIcon {
  gap: 12px;
  grid-template-columns: 20px 1fr;
  padding-right: 43px;
}

.buttonIcon {
  color: $color-text-button;
  display: block;
  height: 20px;
  position: relative;
  width: 20px;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.buttonLabel {
  @include textBody($color-text-button);
}
