@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.placeholder {
  @include textAccent($color: rgba($color: $color-text-body, $alpha: 0.5));
  align-content: center;
  display: grid;
  height: $component-input-height;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 5;
}

.placeholderInvalid {
  color: $color-red;
}
