// FONT FAMILY
$font-main: var(--font-sans);

// FONT SIZES
$font-size-regular: 14px;
$font-size-heading: 30px;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-bold: 700;

// BACKGROUNDS
$background-body: #ffffff;
$background-button: #9b87f5;

// COLORS
$color-text-body: #3b3b3b;
$color-text-button: #ffffff;
$color-outline: #35cdfd;
$color-white: #ffffff;
$color-black-20: #c4c4c4;
$color-black-5: #f2f2f2;
$color-black-3: #f7f7f7;

// TRANSITION TIME
$transition-time: 0.15s;

// SHADOWS
$shadow-focus:
  0 0 0 1px $color-white,
  0 0 0 3px $color-outline;
$shadow-select-dropdown:
  0 -1px 4px rgba(0, 0, 0, 0.04),
  0 2px 4px rgba(0, 0, 0, 0.16);

// COMPONENTS
$component-input-height: 40px;
