// FONT FAMILY
$font-main: var(--font-sans);

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// COLORS
$color-red: #d95151;
$color-red-light: #f9919a;
$color-green: #1bf3a4;
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #a347ff;
$color-purple-light: #c084fc;
$color-outline: $color-green;

$color-text-body: $color-white;
$color-text-button: $color-white;
$color-border: #56565d;

// BACKGROUNDS
$background-authorities: #353541;
$background-body: #06001d;
$background-button: $color-purple;
$background-panel: #161224;
$background-modal: #101725;

// TRANSITION TIME
$transition-time: 0.15s;

// SHADOWS
$shadow-focus: 0 0 0 2px $color-outline;

// COMPONENTS
$component-input-height: 40px;
