@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.select {
  position: relative;
  width: 100%;

  &:hover:not(.selectDisabled) {
    .selectButton {
      border-color: rgba($color: $color-white, $alpha: 0.6);
    }
  }

  &:focus-within:not(.selectDisabled) {
    .selectButton {
      border-color: transparent;
      box-shadow: $shadow-focus;
    }
  }
}

.selectDisabled {
  pointer-events: none;

  .selectButton {
    background-color: rgba($color: $color-white, $alpha: 0.15);
    border-color: rgba($color: $color-white, $alpha: 0.15);
    cursor: default;
  }

  .selectIcon,
  .selectValue {
    color: rgba($color: $color-white, $alpha: 0.4);
  }
}

.selectOpen {
  .selectIcon {
    transform: rotate(180deg);
  }
}

.selectButton {
  @include reset-button();
  align-content: center;
  background-color: $background-panel;
  border: 1px solid $color-border;
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 20px;
  height: $component-input-height;
  justify-content: space-between;
  padding: 9px 11px;
  transition: border-color $transition-time;
  width: 100%;
}

.selectIcon {
  color: $color-text-body;
  transition: transform $transition-time;
}

.selectValue {
  @include textBody();
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
