@import "../variables.scss";

@mixin text($color, $size, $weight) {
  color: $color;
  font-family: $font-main;
  font-size: $size;
  font-weight: $weight;
  line-height: 1.2;
}

@mixin textBody($color: $color-text-body, $weight: $font-weight-regular) {
  @include text($color: $color, $size: $font-size-regular, $weight: $weight);
  letter-spacing: 0.25px;
  line-height: 20px;
}

@mixin textAccent($color: $color-text-body, $weight: $font-weight-regular) {
  @include text($color: $color, $size: $font-size-regular, $weight: $weight);
  letter-spacing: 0.3px;
  line-height: 24px;
}

@mixin textCaption($color: $color-text-body, $weight: $font-weight-regular) {
  @include text($color: $color, $size: $font-size-caption, $weight: $weight);
  letter-spacing: 0.24px;
  line-height: 16px;
}

@mixin textH1($color: $color-text-body, $weight: $font-weight-bold) {
  @include text($color: $color, $size: $font-size-heading, $weight: $weight);
  letter-spacing: 0.25px;
  line-height: 40px;
}
