@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.footer {
  background-color: $background-panel;
  border-top: 1px solid $color-border;
  display: grid;
  gap: 32px;
  grid-area: footer;
  padding: 48px 32px;
}

.footerContent {
  display: grid;
  gap: 12px;
}

.footerInfo {
  @include reset-description();
  @include textBody($color: rgba($color: $color-text-body, $alpha: 0.5));
  max-width: 380px;
}

.footerCopyrights {
  @include textBody($color: rgba($color: $color-text-body, $alpha: 0.5));
  border-top: 1px solid $color-border;
  padding-top: 32px;
}
