@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.tokenPreview {
  background-color: $background-panel;
  border-radius: 8px;
  display: grid;
  gap: 12px;
  grid-template-columns: 40px 1fr;
  padding: 16px;
}

.tokenPreviewImage {
  border-radius: 4px;
}

.tokenPreviewText {
  display: grid;
  gap: 4px;
}

.tokenPreviewName {
  @include textBody($size: 16px, $weight: $font-weight-medium);
}

.tokenPreviewSymbol {
  @include textBody($color: rgba($color: $color-text-body, $alpha: 0.5));
  text-transform: uppercase;
}
