@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.logo {
  @include textBody($size: 24px, $weight: $font-weight-bold);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logoSmall {
  font-size: 16px;
}
