@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.selectDropdown {
  background-color: $background-panel;
  border-radius: 8px;
  box-shadow:
    0 -1px 4px rgba($color: $color-black, $alpha: 0.04),
    0 2px 4px rgba($color: $color-black, $alpha: 0.16);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.selectDropdownTop {
  bottom: calc($component-input-height + 12px);
}

.selectDropdownBottom {
  top: calc($component-input-height + 4px);
}

.selectDropdownWrapper {
  max-height: 228px;
  overflow: auto;
  padding-bottom: 8px;
}

.selectDropdownContainer {
  display: grid;
}

.selectDropdownItem {
  @include reset-button();
  @include textBody();
  background-color: $background-panel;
  height: 40px;
  padding: 12px 16px;
  text-align: start;
  transition: background-color $transition-time;
  word-break: break-word;

  &:hover,
  &:focus {
    background-color: rgba($color: $color-white, $alpha: 0.1);
  }
}

.selectDropdownItemActive {
  background-color: rgba($color: $color-white, $alpha: 0.1);
  cursor: default;
  pointer-events: none;
}

.selectDropdownItemEmpty {
  padding-bottom: 20px;
  padding-top: 20px;
}
