@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.label {
  @include textCaption($color: $color-black-50);
  background-color: $color-white;
  left: 8px;
  padding: 0 4px;
  position: absolute;
  top: -9px;
  transition:
    font-size $transition-time,
    left $transition-time,
    padding $transition-time,
    top $transition-time;
}

.labelDisabled {
  background: transparent;
  color: $color-black-20;
}

.labelInvalid {
  color: $color-red;
}

.labelPlaceholder {
  @include textAccent($color: $color-black-50);
  left: 12px;
  padding: 0;
  pointer-events: none;
  top: 14px;
}
