@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.imageUploader {
  display: grid;
  position: relative;
}

.imageUploaderBrowse {
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%237f7f7f' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  justify-content: center;
  outline: 0;
  padding: 40px;
  transition: background-color $transition-time;

  &:hover:not(.imageUploaderBrowseDisabled),
  &:focus:not(.imageUploaderBrowseDisabled) {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23a347ff' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    .imageUploaderBrowseIcon {
      color: rgba($color: $color-white, $alpha: 0.5);
    }

    .imageUploaderBrowseTitle,
    .imageUploaderBrowseDescription {
      color: rgba($color: $color-white, $alpha: 0.8);
    }
  }
}

.imageUploaderBrowseDisabled {
  cursor: not-allowed;
}

.imageUploaderBrowseInvalid {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23d95151' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.imageUploaderBrowseDragging:not(.imageUploaderBrowseDisabled) {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23a347ff' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  .imageUploaderBrowseIcon {
    color: rgba($color: $color-white, $alpha: 0.5);
  }

  .imageUploaderBrowseTitle,
  .imageUploaderBrowseDescription {
    color: rgba($color: $color-white, $alpha: 0.8);
  }
}

.imageUploaderBrowseIcon {
  color: rgba($color: $color-white, $alpha: 0.3);
  transition: color $transition-time;
}

.imageUploaderBrowseText {
  align-items: center;
  display: grid;
  gap: 4px;
  justify-items: center;
}

.imageUploaderBrowseHeading {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
}

.imageUploaderBrowseTitle {
  @include textBody($color: rgba($color: $color-white, $alpha: 0.5));
  padding-left: 8px;
  transition: color $transition-time;
}

.imageUploaderBrowseDescription {
  @include textBody($color: rgba($color: $color-white, $alpha: 0.5));
  transition: color $transition-time;
}

.imageUploaderBrowseInput {
  display: none;
}
